/* html,
body, */
/* #root {
  height: 100%;
} */

.Quiz_App {
  display: flex;
  margin-top:8rem;
  margin-bottom: 7rem;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: red;
}

.quiz-p{
  text-align: left;
  font-size: 17px;
  color: white;
}
.quiz-span1{
  text-align: left;
  font-size: 25px;
  color: white;
  font-weight: bold;
}
.quiz-span2{
  text-align: left;
  font-size: 19px;
  color: white;
  padding: 0.5rem;
}
.quiz-question{
  background-color: #00CC8E;
  padding: 10px;
  margin: 3px;
  border-radius: 5px;
  text-align: left;
}
.Quiz_App .card {
  height: 100%;
  max-width: 400px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}
/* #007791 */

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 15px;
  border-radius: 10px;
  /* border: 2px solid grey; */
}

label.radio+.radio {
  margin-left: 0;
  background-color: white;
}

label.radio input {
  margin-right: 10px;
} 

.scorecard-img{
  height: 15rem;
}
.buttonContainer{
  padding: 1rem 2rem;
}