.page{
  background-color: aliceblue;
  justify-content: center;


}
.awesome-slider {
  color: white;
  text-align: left;
  height: 800px;
  /* margin: 10rem 10rem 10rem 10rem; */


}
.one{
  color: black;
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  padding: 3rem;
}